{% extends 'layout.html' %} {% block content %}

<div class="content">
	<div class="slider">
		<div class="slides">
			<div class="slide">
				<img src="https://placehold.co/1200x400/B8D6B0/white" alt="Image 1" />
			</div>
			<div class="slide">
				<img src="https://placehold.co/1200x400/79B669/white" alt="Image 2" />
			</div>
			<div class="slide">
				<img src="https://placehold.co/1200x400/1F8505/white" alt="Image 3" />
			</div>
		</div>
	</div>

	<div class="products">
		{% for drug in drugs %}
			<div class="product">
				<div class="product_img">
					<img src="{{ drug.image.url }}" alt="Image" />
				</div>
				<div class="product_desc">
					<div class="product_name">{{ drug.name }}</div>
					<div class="buy_product">
						<div class="product_price">{{ drug.price }}</div>
						<button class="buy_btn" data-drug-id="{{ drug.id }}">
							<i class="fa-solid fa-cart-plus"></i>
						</button>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>
{% endblock %}
